*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    scroll-behavior: smooth;
   }
   label{
     font-weight: bold;
   }
 .carrito-nav{
     color: #555555;
     margin: 0px 10px 0px 10px;
   }
 nav a .brand{
     font-family: 'Lobster', cursive;
     font-size: 1.5em;
   }