.tarjetaPrincipal {
  background-image: url(../img/black.jpg);
  background-size: cover;
}

.main-footer {
  display: none;
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px){
  .main-footer {
    display: none;
  }
}
@media only screen and (min-device-width:1024px){
.main-footer {
  display: block;
  margin-top: 5vh;
  padding-top: 30px;
  background: rgb(250,250,250);
  height: 30vh;
  width: 100%;
}
.main-footer ul {
  overflow: hidden;
  display: inline-block;
  padding-left: 170px;
}
.main-footer li {
  float: left;
  border-right: 1px solid black;
  background: transparent;
  line-height: 6px;
}
.main-footer li:last-child{
  border-right: none;
}
}
